<div>
  <div style="height:100%; padding:20px;">
    <el-table :data="UserDataSource" border style="width: 100%" max-height="650">
      <el-table-column prop="username" label="用户ID" label-class-name="forcastHeader">
      </el-table-column>
      <el-table-column prop="fullname" label="用户全名" label-class-name="forcastHeader">
      </el-table-column>
      <el-table-column prop="role" label="用户角色" label-class-name="forcastHeader">
      </el-table-column>
      <el-table-column prop="company" label="用户公司" label-class-name="forcastHeader">
      </el-table-column>
      <el-table-column label="操作">
        <template scope="scope">
          <el-button size="small" @click="handleEdit(scope.$index, scope.row)">
            编辑</el-button>
          <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
  <div>
    <div class="v-modal" style="z-index: 2000;" v-show="dialogFormVisible"></div>
    <div class="el-dialog__wrapper" style="z-index: 2001;" v-show="dialogFormVisible">
      <div id="userdialog" class="el-dialog">
        <el-form :model="user">
          <el-form-item label="用户ID" :label-width="formLabelWidth">
            <el-input v-model="user.username" auto-complete="off" :disabled="isEditModel"></el-input>
          </el-form-item>
          <el-form-item label="用户全称" :label-width="formLabelWidth">
            <el-input v-model="user.fullname" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="所属公司" :label-width="formLabelWidth">
            <el-select v-model="user.company" placeholder="请选择用户角色">
              <el-option v-for="company in companySource" :label="company" :value="company" :key="company"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="用户角色" :label-width="formLabelWidth">
            <el-select v-model="user.role" placeholder="请选择用户角色">
              <el-option label="管理员" value="Admin"></el-option>
              <el-option label="普通用户" value="User"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="用户密码" :label-width="formLabelWidth" v-show="showResetPssword">
            <el-input v-model="user.password" auto-complete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer textAlignRight">
          <el-button type="warning" @click="showResetPssword=true" v-show="isEditModel">重置密码</el-button>
          <el-button type="primary" @click="confirmUserDialog()" v-show="isEditModel">确 定</el-button>
          <el-button type="primary" @click="configmCreateNewUser()" v-show="isCreateModel">保存用户</el-button>
          <el-button @click="cancelUserDialog">取 消</el-button>
        </div>
      </div>
    </div>
  </div>
</div>